<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AMD Radeon X4000 CI Services</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.kext.AMDRadeonX4000HWServices</string>
			<key>IOClass</key>
			<string>AMDRadeonX4000_AMDRadeonHWServicesCI</string>
			<key>IOMatchCategory</key>
			<string>AMDRadeonX4000HWServices</string>
			<key>IOPCIMatch</key>
			<string>0x66401002 0x66411002 0x66461002 0x66471002 0x66501002 0x66511002 0x665C1002 0x665D1002 0x67B01002 0x67B11002</string>
			<key>IOPCITunnelCompatible</key>
			<true/>
			<key>IOProbeScore</key>
			<integer>100000</integer>
			<key>IOPropertyMatch</key>
			<dict>
				<key>LoadHWServices</key>
				<true/>
			</dict>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
		</dict>
		<key>AMDBaffinGraphicsAccelerator</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.kext.AMDRadeonX4000</string>
			<key>GpuDebugPolicy</key>
			<integer>0</integer>
			<key>IOClass</key>
			<string>AMDRadeonX4000_AMDBaffinGraphicsAccelerator</string>
			<key>IODVDBundleName</key>
			<string>AMDRadeonVADriver2</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOMatchCategory</key>
			<string>IOAccelerator</string>
			<key>IOPCIMatch</key>
			<string>0x67E01002 0x67E31002 0x67E81002 0x67EB1002 0x67EF1002 0x67FF1002 0x67E11002 0x67E71002 0x67E91002</string>
			<key>IOPCITunnelCompatible</key>
			<true/>
			<key>IOPropertyMatch</key>
			<dict>
				<key>LoadAccelerator</key>
				<true/>
			</dict>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>IOSourceVersion</key>
			<string>0.0.0.0.0</string>
			<key>IOVARendererID</key>
			<integer>16908288</integer>
			<key>cail_properties</key>
			<dict>
				<key>CAIL_DisableQuickGfxMGPowerGating</key>
				<integer>0</integer>
				<key>CAIL_DisableStaticGfxMGPowerGating</key>
				<integer>1</integer>
				<key>CAIL_EnableLBPWSupport</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>AMDFijiGraphicsAccelerator</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.kext.AMDRadeonX4000</string>
			<key>GpuDebugPolicy</key>
			<integer>0</integer>
			<key>IOClass</key>
			<string>AMDRadeonX4000_AMDFijiGraphicsAccelerator</string>
			<key>IODVDBundleName</key>
			<string>AMDRadeonVADriver</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOMatchCategory</key>
			<string>IOAccelerator</string>
			<key>IOPCIMatch</key>
			<string>0x73001002 0x730F1002</string>
			<key>IOPCITunnelCompatible</key>
			<true/>
			<key>IOPropertyMatch</key>
			<dict>
				<key>LoadAccelerator</key>
				<true/>
			</dict>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>IOSourceVersion</key>
			<string>0.0.0.0.0</string>
			<key>IOVARendererID</key>
			<integer>16908288</integer>
		</dict>
		<key>AMDHawaiiGraphicsAccelerator</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.kext.AMDRadeonX4000</string>
			<key>GpuDebugPolicy</key>
			<integer>0</integer>
			<key>IOClass</key>
			<string>AMDHawaiiGraphicsAccelerator</string>
			<key>IODVDBundleName</key>
			<string>AMDRadeonVADriver</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOMatchCategory</key>
			<string>IOAccelerator</string>
			<key>IOPCIMatch</key>
			<string>0x67B01002</string>
			<key>IOPCITunnelCompatible</key>
			<true/>
			<key>IOPropertyMatch</key>
			<dict>
				<key>LoadAccelerator</key>
				<true/>
			</dict>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>IOSourceVersion</key>
			<string>0.0.0.0.0</string>
			<key>IOVARendererID</key>
			<integer>16908288</integer>
		</dict>
		<key>AMDPitcairnGraphicsAccelerator</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.kext.AMDRadeonX4000</string>
			<key>GpuDebugPolicy</key>
			<integer>0</integer>
			<key>IOClass</key>
			<string>AMDPitcairnGraphicsAccelerator</string>
			<key>IODVDBundleName</key>
			<string>AMDRadeonVADriver</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOMatchCategory</key>
			<string>IOAccelerator</string>
			<key>IOPCIMatch</key>
			<string>0x68001002 0x68011002 0x68061002 0x68081002 0x68101002 0x68181002 0x68191002</string>
			<key>IOPCITunnelCompatible</key>
			<true/>
			<key>IOPropertyMatch</key>
			<dict>
				<key>LoadAccelerator</key>
				<true/>
			</dict>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>IOSourceVersion</key>
			<string>0.0.0.0.0</string>
			<key>IOVARendererID</key>
			<integer>16908288</integer>
		</dict>
		<key>AMDTahitiGraphicsAccelerator</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.kext.AMDRadeonX4000</string>
			<key>GpuDebugPolicy</key>
			<integer>0</integer>
			<key>IOClass</key>
			<string>AMDTahitiGraphicsAccelerator</string>
			<key>IODVDBundleName</key>
			<string>AMDRadeonVADriver</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOMatchCategory</key>
			<string>IOAccelerator</string>
			<key>IOPCIMatch</key>
			<string>0x67901002 0x67981002 0x679A1002 0x679E1002 0x67801002</string>
			<key>IOPCITunnelCompatible</key>
			<true/>
			<key>IOPropertyMatch</key>
			<dict>
				<key>LoadAccelerator</key>
				<true/>
			</dict>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>IOSourceVersion</key>
			<string>0.0.0.0.0</string>
			<key>IOVARendererID</key>
			<integer>16908288</integer>
		</dict>
		<key>AMDTongaGraphicsAccelerator</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.kext.AMDRadeonX4000</string>
			<key>GpuDebugPolicy</key>
			<integer>0</integer>
			<key>IOClass</key>
			<string>AMDRadeonX4000_AMDTongaGraphicsAccelerator</string>
			<key>IODVDBundleName</key>
			<string>AMDRadeonVADriver</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOMatchCategory</key>
			<string>IOAccelerator</string>
			<key>IOPCIMatch</key>
			<string>0x69201002 0x69211002 0x69301002 0x69381002 0x69391002</string>
			<key>IOPCITunnelCompatible</key>
			<true/>
			<key>IOPropertyMatch</key>
			<dict>
				<key>LoadAccelerator</key>
				<true/>
			</dict>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>IOSourceVersion</key>
			<string>0.0.0.0.0</string>
			<key>IOVARendererID</key>
			<integer>16908288</integer>
			<key>cail_properties</key>
			<dict>
				<key>CAIL_DisableAcpPowerGating</key>
				<integer>0</integer>
				<key>CAIL_DisableJpegEngine</key>
				<integer>1</integer>
				<key>CAIL_DisableSAMUPowerGating</key>
				<integer>0</integer>
				<key>CAIL_DisableSysClockGating</key>
				<integer>1</integer>
				<key>CAIL_DisableUVDPowerGating</key>
				<integer>0</integer>
				<key>CAIL_DisableVCEPowerGating</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>AtiGpuWrangler</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.kext.AMD7000Controller</string>
			<key>IOClass</key>
			<string>AMD7000ControllerWrangler</string>
			<key>IOMatchCategory</key>
			<string>IOFramebuffer</string>
			<key>IOPCIMatch</key>
			<string>0x67901002 0x67981002 0x679A1002 0x679E1002 0x67801002 0x68201002 0x68211002 0x68231002 0x68251002 0x68271002 0x682B1002 0x682D1002 0x682F1002 0x68351002 0x68391002 0x683B1002 0x683D1002 0x683F1002 0x68001002 0x68011002 0x68061002 0x68081002 0x68101002 0x68181002 0x68191002</string>
			<key>IOPCITunnelCompatible</key>
			<true/>
			<key>IOProbeScore</key>
			<integer>100000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
		</dict>
		<key>AtiGpuWrangler2</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.kext.AMD8000Controller</string>
			<key>IOClass</key>
			<string>AMD8000ControllerWrangler</string>
			<key>IOMatchCategory</key>
			<string>IOFramebuffer</string>
			<key>IOPCIMatch</key>
			<string>0x66401002 0x66411002 0x66461002 0x66471002 0x66501002 0x66511002 0x665C1002 0x665D1002 0x67B01002 0x67B11002</string>
			<key>IOPCITunnelCompatible</key>
			<true/>
			<key>IOProbeScore</key>
			<integer>100000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
		</dict>
		<key>AtiGpuWrangler3</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.kext.AMD9000Controller</string>
			<key>IOClass</key>
			<string>AMD9000ControllerWrangler</string>
			<key>IOMatchCategory</key>
			<string>IOFramebuffer</string>
			<key>IOPCIMatch</key>
			<string>0x69201002 0x69211002 0x69301002 0x69381002 0x69391002 0x73001002 0x730F1002</string>
			<key>IOPCITunnelCompatible</key>
			<true/>
			<key>IOProbeScore</key>
			<integer>100000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
		</dict>
		<key>Controller1</key>
		<dict>
			<key>ATY,Hamachi</key>
			<dict>
				<key>aty_config</key>
				<dict>
					<key>CFG_USE_SM</key>
					<true/>
					<key>CFG_USE_AGDC</key>
					<true/>
				</dict>
			</dict>
			<key>ATY,Ikura</key>
			<dict>
				<key>aty_config</key>
				<dict>
					<key>CFG_PTPL2_TBL</key>
					<data>VwAAAFQAAABQAAAATAAAAEgAAABEAAAAQAAAADwAAAA4AAAANgAAADQAAAAyAAAAMAAAAC4AAAAsAAAAKgAAAA==</data>
					<key>CFG_USE_AGDC</key>
					<true/>
					<key>CFG_USE_READ_VALIDATION</key>
					<true/>
				</dict>
				<key>aty_properties</key>
				<dict>
					<key>PP_MediumStateDownHysteresisTimeOut</key>
					<integer>2162162</integer>
					<key>PP_SISLANDSMediumStateHysteresisDown</key>
					<integer>5</integer>
				</dict>
			</dict>
			<key>ATY,IkuraS</key>
			<dict>
				<key>aty_config</key>
				<dict>
					<key>CFG_PTPL2_TBL</key>
					<data>VwAAAFQAAABQAAAATAAAAEgAAABEAAAAQAAAADwAAAA4AAAANgAAADQAAAAyAAAAMAAAAC4AAAAsAAAAKgAAAA==</data>
					<key>CFG_USE_AGDC</key>
					<true/>
					<key>CFG_USE_READ_VALIDATION</key>
					<true/>
				</dict>
				<key>aty_properties</key>
				<dict>
					<key>PP_MediumStateDownHysteresisTimeOut</key>
					<integer>2162162</integer>
					<key>PP_SISLANDSMediumStateHysteresisDown</key>
					<integer>5</integer>
				</dict>
			</dict>
			<key>ATY,Kani</key>
			<dict>
				<key>aty_config</key>
				<dict>
					<key>CFG_PTPL2_TBL</key>
					<data>VwAAAFYAAABVAAAAVAAAAFMAAABSAAAAUQAAAFAAAABPAAAATgAAAE0AAABMAAAASwAAAEoAAABJAAAASAAAAA==</data>
					<key>CFG_USE_AGDC</key>
					<true/>
					<key>CFG_USE_READ_VALIDATION</key>
					<true/>
				</dict>
				<key>aty_properties</key>
				<dict>
					<key>PP_MediumStateDownHysteresisTimeOut</key>
					<integer>2162162</integer>
					<key>PP_SISLANDSMediumStateHysteresisDown</key>
					<integer>5</integer>
				</dict>
			</dict>
			<key>ATY,KaniS</key>
			<dict>
				<key>aty_config</key>
				<dict>
					<key>CFG_PTPL2_TBL</key>
					<data>VwAAAFYAAABVAAAAVAAAAFMAAABSAAAAUQAAAFAAAABPAAAATgAAAE0AAABMAAAASwAAAEoAAABJAAAASAAAAA==</data>
					<key>CFG_USE_AGDC</key>
					<true/>
					<key>CFG_USE_READ_VALIDATION</key>
					<true/>
				</dict>
				<key>aty_properties</key>
				<dict>
					<key>PP_MediumStateDownHysteresisTimeOut</key>
					<integer>2162162</integer>
					<key>PP_SISLANDSMediumStateHysteresisDown</key>
					<integer>5</integer>
				</dict>
			</dict>
			<key>ATY,Maguro</key>
			<dict>
				<key>aty_config</key>
				<dict>
					<key>CFG_NEED_RFRSH</key>
					<true/>
					<key>CFG_PTPL2_TBL</key>
					<data>XQAAAEsAAABIAAAARQAAAEIAAAA/AAAAPAAAADYAAAAzAAAAMAAAAC0AAAAqAAAAJwAAACQAAAAhAAAAHgAAAA==</data>
					<key>CFG_USE_AGDC</key>
					<true/>
					<key>CFG_USE_READ_VALIDATION</key>
					<true/>
				</dict>
				<key>aty_properties</key>
				<dict>
					<key>PP_MediumStateDownHysteresisTimeOut</key>
					<integer>2162162</integer>
					<key>PP_SISLANDSMediumStateHysteresisDown</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>ATY,MaguroS</key>
			<dict>
				<key>aty_config</key>
				<dict>
					<key>CFG_NEED_RFRSH</key>
					<true/>
					<key>CFG_PTPL2_TBL</key>
					<data>XQAAAEsAAABIAAAARQAAAEIAAAA/AAAAPAAAADYAAAAzAAAAMAAAAC0AAAAqAAAAJwAAACQAAAAhAAAAHgAAAA==</data>
					<key>CFG_USE_AGDC</key>
					<true/>
					<key>CFG_USE_READ_VALIDATION</key>
					<true/>
				</dict>
				<key>aty_properties</key>
				<dict>
					<key>PP_MediumStateDownHysteresisTimeOut</key>
					<integer>2162162</integer>
					<key>PP_SISLANDSMediumStateHysteresisDown</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>ATY,Namako</key>
			<dict>
				<key>aty_config</key>
				<dict>
					<key>CFG_DEF_DITH</key>
					<integer>0</integer>
					<key>CFG_DIAG_LED</key>
					<integer>1</integer>
					<key>CFG_NVV</key>
					<integer>2</integer>
					<key>CFG_USE_AGDC</key>
					<true/>
				</dict>
				<key>aty_properties</key>
				<dict>
					<key>PP_ActivitySamplingInterval</key>
					<integer>1300</integer>
					<key>PP_MediumStateDownHysteresisTimeOut</key>
					<integer>2162162</integer>
					<key>PP_SISLANDSMediumStateHysteresisDown</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>ATY,Ramen</key>
			<dict>
				<key>aty_config</key>
				<dict>
					<key>CFG_FB_LIMIT</key>
					<integer>6</integer>
					<key>CFG_NVV</key>
					<integer>2</integer>
					<key>CFG_PTPL2_TBL</key>
					<data>GwAAABoAAAAZAAAAGAAAABcAAAAWAAAAFQAAABQAAAATAAAAEgAAABEAAAAQAAAADwAAAA4AAAANAAAACgAAAA==</data>
					<key>CFG_USE_AGDC</key>
					<true/>
					<key>CFG_USE_STUTTER</key>
					<true/>
				</dict>
				<key>aty_properties</key>
				<dict>
					<key>PP_EnableLoadPostProductionFirmware</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>ATY,Tako</key>
			<dict>
				<key>aty_config</key>
				<dict>
					<key>CFG_DEF_DITH</key>
					<integer>0</integer>
					<key>CFG_DIAG_LED</key>
					<integer>1</integer>
					<key>CFG_FB_LIMIT</key>
					<integer>6</integer>
					<key>CFG_NVV</key>
					<integer>2</integer>
					<key>CFG_USE_AGDC</key>
					<true/>
					<key>CFG_WDTH_ALGN</key>
					<integer>256</integer>
				</dict>
				<key>aty_properties</key>
				<dict>
					<key>PP_EnableLoadPostProductionFirmware</key>
					<integer>1</integer>
					<key>PP_Falcon_QuickTransition_Enable</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.kext.AMD7000Controller</string>
			<key>IOClass</key>
			<string>AMD7000Controller</string>
			<key>IOMatchCategory</key>
			<string>ATIFramebuffer</string>
			<key>IOName</key>
			<string>AMD7000Controller</string>
			<key>IOPCIMatch</key>
			<string>0x67901002 0x67981002 0x679A1002 0x679E1002 0x67801002 0x68201002 0x68211002 0x68231002 0x68251002 0x68271002 0x682B1002 0x682D1002 0x682F1002 0x68351002 0x68391002 0x683B1002 0x683D1002 0x683F1002 0x68001002 0x68011002 0x68061002 0x68081002 0x68101002 0x68181002 0x68191002</string>
			<key>IOPCITunnelCompatible</key>
			<true/>
			<key>IOProbeScore</key>
			<integer>100000</integer>
			<key>IOPropertyMatch</key>
			<dict>
				<key>LoadController</key>
				<true/>
			</dict>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>aty_config</key>
			<dict>
				<key>CFG_ALLOCATE_DMIF</key>
				<true/>
				<key>CFG_APER_MODE</key>
				<integer>1</integer>
				<key>CFG_CAA</key>
				<integer>0</integer>
				<key>CFG_FB_LIMIT</key>
				<integer>0</integer>
				<key>CFG_FORCEMAXDPM</key>
				<false/>
				<key>CFG_FORCE_HDMI</key>
				<false/>
				<key>CFG_FORCE_MAX_DPS</key>
				<false/>
				<key>CFG_GEN_FLAGS</key>
				<integer>0</integer>
				<key>CFG_INT_SSPC</key>
				<integer>25</integer>
				<key>CFG_NODM</key>
				<true/>
				<key>CFG_NO_HDCP</key>
				<false/>
				<key>CFG_NO_MST</key>
				<false/>
				<key>CFG_NO_PP</key>
				<false/>
				<key>CFG_NO_SLS</key>
				<false/>
				<key>CFG_PTPL2_MAX</key>
				<integer>70</integer>
				<key>CFG_PTPL2_MIN</key>
				<integer>16</integer>
				<key>CFG_PULSE_INT</key>
				<true/>
				<key>CFG_TRANS_WSRV</key>
				<true/>
				<key>CFG_USE_AGDC</key>
				<true/>
				<key>CFG_USE_DPT</key>
				<true/>
				<key>CFG_USE_FBC</key>
				<false/>
				<key>CFG_USE_FEDS</key>
				<true/>
				<key>CFG_USE_REGAMMA</key>
				<true/>
				<key>CFG_USE_STUTTER</key>
				<false/>
				<key>CFG_WDTH_ALGN</key>
				<integer>64</integer>
				<key>DALReadDelayStutterOff</key>
				<integer>4</integer>
				<key>DALUseUrgencyWaterMarkOffset</key>
				<integer>0</integer>
			</dict>
			<key>aty_properties</key>
			<dict>
				<key>PP_ActivitySamplingInterval</key>
				<integer>1000</integer>
				<key>PP_DALPowerLevel</key>
				<integer>1</integer>
				<key>PP_DisableCAC</key>
				<integer>0</integer>
				<key>PP_DisableDTE</key>
				<integer>1</integer>
				<key>PP_DisablePowerContainment</key>
				<integer>0</integer>
				<key>PP_DisableSMUUVDHandshake</key>
				<integer>0</integer>
				<key>PP_DisableSQRamping</key>
				<integer>0</integer>
				<key>PP_DisableULV</key>
				<integer>0</integer>
				<key>PP_DriverCalculateCACLeakage</key>
				<integer>1</integer>
				<key>PP_EnableLoadFalconSmcFirmware</key>
				<integer>1</integer>
				<key>PP_HighSamplingInterval</key>
				<integer>200000</integer>
				<key>PP_MCLKStutterModeThreshold</key>
				<integer>40000</integer>
				<key>PP_PhmUseDummyBackEnd</key>
				<integer>0</integer>
				<key>PP_SISLANDSVotingRightsClients</key>
				<integer>12583475</integer>
				<key>PP_UserMaxClockForMultiDisplays</key>
				<integer>1</integer>
			</dict>
		</dict>
		<key>Controller2</key>
		<dict>
			<key>ATY,Exmoor</key>
			<dict>
				<key>aty_config</key>
				<dict>
					<key>CFG_DEF_DITH</key>
					<integer>0</integer>
					<key>CFG_DIAG_LED</key>
					<integer>1</integer>
					<key>CFG_FB_LIMIT</key>
					<integer>6</integer>
					<key>CFG_NVV</key>
					<integer>2</integer>
					<key>CFG_PTPL2_TBL</key>
					<data>WgAAAFIAAABMAAAARwAAAEMAAAA/AAAAOwAAADcAAAAzAAAALwAAACsAAAAnAAAAIwAAAB8AAAAbAAAAFwAAAA==</data>
					<key>CFG_USE_AGDC</key>
					<true/>
				</dict>
			</dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.kext.AMD8000Controller</string>
			<key>IOClass</key>
			<string>AMD8000Controller</string>
			<key>IOMatchCategory</key>
			<string>ATIFramebuffer</string>
			<key>IOName</key>
			<string>AMD8000Controller</string>
			<key>IOPCIMatch</key>
			<string>0x66401002 0x66411002 0x66461002 0x66471002 0x66501002 0x66511002 0x665C1002 0x665D1002 0x67B01002 0x67B11002</string>
			<key>IOPCITunnelCompatible</key>
			<true/>
			<key>IOProbeScore</key>
			<integer>100000</integer>
			<key>IOPropertyMatch</key>
			<dict>
				<key>LoadController</key>
				<true/>
			</dict>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>aty_config</key>
			<dict>
				<key>CFG_APER_MODE</key>
				<integer>1</integer>
				<key>CFG_CAA</key>
				<integer>0</integer>
				<key>CFG_FB_LIMIT</key>
				<integer>0</integer>
				<key>CFG_FORCE_HDMI</key>
				<false/>
				<key>CFG_FORCE_MAX_DPS</key>
				<false/>
				<key>CFG_GEN_FLAGS</key>
				<integer>0</integer>
				<key>CFG_INT_SSPC</key>
				<integer>25</integer>
				<key>CFG_NODM</key>
				<true/>
				<key>CFG_NO_HDCP</key>
				<false/>
				<key>CFG_NO_MST</key>
				<false/>
				<key>CFG_NO_SLS</key>
				<false/>
				<key>CFG_PTPL2_MAX</key>
				<integer>150</integer>
				<key>CFG_PTPL2_MIN</key>
				<integer>30</integer>
				<key>CFG_PULSE_INT</key>
				<true/>
				<key>CFG_TRANS_WSRV</key>
				<true/>
				<key>CFG_USE_AGDC</key>
				<true/>
				<key>CFG_USE_DPT</key>
				<true/>
				<key>CFG_USE_FBC</key>
				<false/>
				<key>CFG_USE_FEDS</key>
				<true/>
				<key>CFG_USE_REGAMMA</key>
				<true/>
				<key>CFG_USE_STUTTER</key>
				<false/>
				<key>DALReadDelayStutterOff</key>
				<integer>4</integer>
				<key>DALUseUrgencyWaterMarkOffset</key>
				<integer>0</integer>
			</dict>
			<key>aty_properties</key>
			<dict>
				<key>PP_DisableCAC</key>
				<integer>0</integer>
				<key>PP_DisableDIDT</key>
				<integer>1</integer>
				<key>PP_DisablePPLib</key>
				<integer>0</integer>
				<key>PP_DisablePowerContainment</key>
				<integer>0</integer>
				<key>PP_DisableULV</key>
				<integer>0</integer>
				<key>PP_DisableVoltageIsland</key>
				<integer>1</integer>
				<key>PP_EnableBAPM</key>
				<integer>0</integer>
				<key>PP_EnableLoadFalconSmcFirmware</key>
				<integer>1</integer>
				<key>PP_Falcon_QuickTransition_Enable</key>
				<integer>1</integer>
				<key>PP_MclkActivityTarget</key>
				<integer>5</integer>
				<key>PP_PhmUseDummyBackEnd</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>Controller3</key>
		<dict>
			<key>ATY,Basset</key>
			<dict>
				<key>aty_config</key>
				<dict>
					<key>CFG_DEF_DITH</key>
					<integer>0</integer>
					<key>CFG_DIAG_LED</key>
					<integer>1</integer>
					<key>CFG_NVV</key>
					<integer>2</integer>
					<key>CFG_PTPL2_TBL</key>
					<data>bgAAAGwAAABpAAAAZwAAAGUAAABjAAAAYAAAAF4AAABcAAAAWQAAAFcAAABVAAAAUwAAAFAAAABOAAAAMgAAAA==</data>
					<key>CFG_USE_AGDC</key>
					<true/>
				</dict>
			</dict>
			<key>ATY,Greyhound</key>
			<dict>
				<key>aty_config</key>
				<dict>
					<key>CFG_USE_AGDC</key>
					<true/>
				</dict>
			</dict>
			<key>ATY,GreyhoundS</key>
			<dict>
				<key>aty_config</key>
				<dict>
					<key>CFG_USE_AGDC</key>
					<true/>
				</dict>
			</dict>
			<key>ATY,Labrador</key>
			<dict>
				<key>aty_config</key>
				<dict>
					<key>CFG_DEF_DITH</key>
					<integer>0</integer>
					<key>CFG_DIAG_LED</key>
					<integer>1</integer>
					<key>CFG_FB_LIMIT</key>
					<integer>6</integer>
					<key>CFG_NVV</key>
					<integer>2</integer>
					<key>CFG_USE_AGDC</key>
					<true/>
					<key>CFG_WDTH_ALGN</key>
					<integer>256</integer>
				</dict>
			</dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.kext.AMD9000Controller</string>
			<key>IOClass</key>
			<string>AMD9000Controller</string>
			<key>IOMatchCategory</key>
			<string>ATIFramebuffer</string>
			<key>IOName</key>
			<string>AMD9000Controller</string>
			<key>IOPCIMatch</key>
			<string>0x69201002 0x69211002 0x69301002 0x69381002 0x69391002 0x73001002 0x730F1002</string>
			<key>IOPCITunnelCompatible</key>
			<true/>
			<key>IOProbeScore</key>
			<integer>100000</integer>
			<key>IOPropertyMatch</key>
			<dict>
				<key>LoadController</key>
				<true/>
			</dict>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>aty_config</key>
			<dict>
				<key>CFG_APER_MODE</key>
				<integer>1</integer>
				<key>CFG_CAA</key>
				<integer>0</integer>
				<key>CFG_FB_LIMIT</key>
				<integer>0</integer>
				<key>CFG_FORCEMAXDPM</key>
				<false/>
				<key>CFG_FORCE_MAX_DPS</key>
				<false/>
				<key>CFG_GEN_FLAGS</key>
				<integer>0</integer>
				<key>CFG_INT_SSPC</key>
				<integer>25</integer>
				<key>CFG_NODM</key>
				<true/>
				<key>CFG_NO_HDCP</key>
				<false/>
				<key>CFG_NO_MSI</key>
				<false/>
				<key>CFG_NO_MST</key>
				<false/>
				<key>CFG_NO_PP</key>
				<false/>
				<key>CFG_NO_SLS</key>
				<false/>
				<key>CFG_PTPL2_MAX</key>
				<integer>150</integer>
				<key>CFG_PTPL2_MIN</key>
				<integer>30</integer>
				<key>CFG_PTPL2_TBL</key>
				<data>lgAAAI4AAACGAAAAfgAAAHYAAABuAAAAZgAAAF4AAABWAAAATgAAAEYAAAA+AAAANgAAAC4AAAAmAAAAHgAAAA==</data>
				<key>CFG_PULSE_INT</key>
				<true/>
				<key>CFG_TRANS_WSRV</key>
				<true/>
				<key>CFG_USE_AGDC</key>
				<true/>
				<key>CFG_USE_DPT</key>
				<true/>
				<key>CFG_USE_FBC</key>
				<false/>
				<key>CFG_USE_FEDS</key>
				<true/>
				<key>CFG_USE_LPT</key>
				<false/>
				<key>CFG_USE_REGAMMA</key>
				<true/>
				<key>CFG_USE_SRRB</key>
				<false/>
				<key>CFG_USE_STUTTER</key>
				<false/>
				<key>CFG_WDTH_ALGN</key>
				<integer>64</integer>
				<key>DALReadDelayStutterOff</key>
				<integer>4</integer>
				<key>DALUseUrgencyWaterMarkOffset</key>
				<integer>0</integer>
			</dict>
			<key>aty_properties</key>
			<dict>
				<key>PP_DisableCAC</key>
				<integer>0</integer>
				<key>PP_DisableDIDT</key>
				<integer>1</integer>
				<key>PP_DisablePPLib</key>
				<integer>0</integer>
				<key>PP_DisablePowerContainment</key>
				<integer>0</integer>
				<key>PP_DisableULV</key>
				<integer>0</integer>
				<key>PP_DisableVoltageIsland</key>
				<integer>1</integer>
				<key>PP_EnableBAPM</key>
				<integer>0</integer>
				<key>PP_EnableLoadFalconSmcFirmware</key>
				<integer>1</integer>
				<key>PP_Falcon_QuickTransition_Enable</key>
				<integer>1</integer>
				<key>PP_MclkActivityTarget</key>
				<integer>5</integer>
				<key>PP_PhmUseDummyBackEnd</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>IONDRVSupport</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IONDRVSupport</string>
			<key>IOClass</key>
			<string>IONDRVFramebuffer</string>
			<key>IOMatchCategory</key>
			<string>IOFramebuffer</string>
			<key>IOPCIClassMatch</key>
			<string>0x03000000&amp;0xff000000</string>
			<key>IOProbeScore</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>IOPCITunnelCompatible</key>
			<true/>
		</dict>
		<key>NVDAStartup</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.nvidia.NVDAStartup</string>
			<key>IOClass</key>
			<string>NVDAStartup</string>
			<key>IOMatchCategory</key>
			<string>IOFramebuffer</string>
			<key>IOPCIClassMatch</key>
			<string>0x03000000&amp;0xff000000</string>
			<key>IOPCIMatch</key>
			<string>0x000010de&amp;0x0000ffff</string>
			<key>IOProbeScore</key>
			<integer>100000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>IOSourceVersion</key>
			<string>16.0.13</string>
			<key>NVDARequiredOS</key>
			<string></string>
			<key>NVDAType</key>
			<string>Official</string>
			<key>IOPCITunnelCompatible</key>
			<true/>
		</dict>
		<key>Kryptonite</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>IOClass</key>
			<string>$(PRODUCT_NAME:rfc1034identifier)</string>
			<key>IOMatchCategory</key>
			<string>$(PRODUCT_NAME:rfc1034identifier)</string>
			<key>IOProviderClass</key>
			<string>IOResources</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>as.vit9696.Lilu</key>
		<string>1.5.3</string>
		<key>com.apple.kpi.bsd</key>
		<string>12.0.0</string>
		<key>com.apple.kpi.dsep</key>
		<string>12.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>12.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>12.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>12.0.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>12.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
